
@import './normalize';
@import './veriables';
@import './_mixins';


.container {
  width: 100%;
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (max-width: 992px) {
    
    max-width: 960px;
    
  }

  @media screen and (max-width: 768px) {
    max-width:720px;
  }

  @media screen and (max-width: 576px) {
    max-width: 540px;
  }
}
body {
  font-family: 'Playfair Display';
}

.text-decoration-underline:hover {
  text-decoration: none !important;
}
.row.mb-2.container {
  padding: 0;
}
.col-md-6 {
  padding: 0;
  &--pad {
    padding-left: 15px;
  }
  &--right {
    padding-right: 15px;
  }
}
.blog-footer {
  padding: 40px 0;
  border-top: 1px solid #dedede;
  background: #f9f9f9;
  &-text1 {
    text-align: center;
  }
  &-text2 {
    text-align: center;
  }
}
.btn-outline-primary {
  border-radius: 24px;
}
.btn-outline-secondary {
  border-radius: 24px;
}
.blog-pagination {
  
}